@{
    ViewData["Title"] = "Home Page";
}

@model Association
<div class="container col-5 p-5 mt-3">
    <h1>@ViewBag.Product.Name Categories</h1>
    @foreach(Association a in ViewBag.Product.Categories)
    {
    <a href="/products/@a.ProductId"><p>@a.Category?.Name</p></a> 
    }
</div>
<div class="container col-5 rounded shadow p-5 mt-3">
    <h1>Add To Category</h1>
    <form asp-action="AssociationCreate" asp-controller="Home" method="post">
        <div class="form-group">
            <input asp-for="ProductId" value="@ViewBag.Product.ProductId" type="hidden">
            <label asp-for="ProductId">Product</label>
            <span class="text-danger" asp-validation-for="CategoryId"></span>
            <select class="form-control" asp-for="CategoryId">
                <option value="">Select a Category</option>
                @foreach(Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.Name</option>
                }
            </select>
        </div>
        <button class="btn btn-outline-primary col-12 mt-4">Submit</button>
    </form>
</div>
